@charset "utf-8";
/* CSS Document */
 
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif !important;
    font-size: 14px;
    color: #3a3a3a;
    font-weight: 400; 
    position: relative;
}

/*::-webkit-scrollbar {
  width: 7px;
  height: 8px;
} 
 
::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 20px;
}
   
::-webkit-scrollbar-thumb {
  background: #4a5267;
  border-radius: 10px;
}*/

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section,
detail,
nav,
figure {
    position: relative;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none !important;
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 100%;
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}

table {  width: 100%; }
p { margin: 0; padding: 0; }
.fltL { float: left; }
.fltR { float: right !important; }
.padding_none { padding: 0 !important;}
.border_none{border:none !important}
.navbar-toggle {  background-color: #fff !important; }
.icon-bar { background-color: #000 !important; }
.p_right0{ padding-right:0px !important }
.p_left0{ padding-left:0px !important } 
input[type=date].form-control{ text-transform: uppercase !important; }
select{cursor: pointer;outline: 0;}


.Radio{display:block;position:relative;padding-left: 30px;margin-bottom:12px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.Radio input[type=radio]{position:absolute;opacity:0;cursor:pointer}
.Radio .checkmark{position:absolute;top:0;left:0;height: 20px;width: 20px;background-color:#fff;border-radius:50%;border:1px solid #d0cfd8}
.Radio:hover input[type=radio]~.checkmark{background-color:#ccc}   
.Radio input[type=radio]:checked~.checkmark{border-color: #0f172a;background-color: #0f172a;}
.Radio .checkmark:after{content:"";position:absolute;display:none}
.Radio input[type=radio]:checked~.checkmark:after{display:block}
.Radio .checkmark:after{width: 10px;height: 10px;border-radius:50%;background:#fff;top:0;left:0;bottom:0;right:0;margin:auto}
       
.CheckBox{display: inline-block;position:relative;padding-left:33px;cursor:pointer;font-size: 14px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-weight:500;color:#2d2d2d;margin: 0;min-height: 20px;}
.CheckBox input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.CheckBox .checkmark{position:absolute;top:0;left:0;height: 20px;width: 24px;background-color:transparent;border: 1px solid #0f172a;border-radius:2px;}
.CheckBox:hover input~.checkmark{background: #0f172a;border-color: #0f172a;}
.CheckBox input:checked~.checkmark{background: #0f172a;}
.CheckBox .checkmark:after{content:"";position:absolute;display:none;left:8px;top:2px;width:5px;height:11px;border:solid white;border-width:0 2px 2px 0;transform:rotate(45deg)}
.CheckBox input:checked~.checkmark:after{display:block}

.switch{position:relative;display:inline-block;cursor:pointer;margin:0;padding:2px 0 3px 50px;font-weight:400;font-size:12px;color:#646467;float: right;}
.switch input{opacity:0;width:0;height:0}
.switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#fff;-webkit-transition:0.4s;transition:0.4s;height: 21px;border-radius:50px;width:40px;border: 1px solid #0f172a;}
.switch .slider:before{position:absolute;content:"";height:13px;width:13px;left:3px;bottom:0;top:0;background: #0f172a;-webkit-transition:0.4s;transition:0.4s;border-radius:50%;margin:auto;}
.switch input:checked+.slider{background: #2c3344;border-color: #2c3344;}
.switch input:checked+.slider:before{-webkit-transform:translateX(19px);transform:translateX(19px);background:#fff}

.SideNavBar{height:100vh;position:fixed;width:250px;top:0;padding:10px;overflow:auto;background:#0f172a}
.SideNavBar .SideNavHead{margin:10px 0 20px 0;text-align:center}
.SideNavBar .SideNavHead img{width:130px}
.SideNavBar .SideNavMiddle{text-align:center;color:#fff;margin:0 0 15px 0;background-color:#2c3344;padding:15px;border-radius:5px}
.SideNavBar .SideNavMiddle figure{width:100px;height:100px;border-radius:50%;overflow:hidden;margin:0 auto 15px}
.SideNavBar .SideNavMiddle figure img{width:100%;height:100%}
.SideNavBar .SideNavMiddle h6{font-size:16px;font-weight:600;margin:0 0 5px 0}
.SideNavBar .SideNavMiddle p{font-size:14px;color:#c5c0c0;font-weight:500}
.SideNavBar ul{margin:0}
.SideNavBar ul li{margin-bottom:5px}
.SideNavBar ul li a{display:block;cursor:pointer;padding:15px 15px 15px 60px;transition:0.5s all ease-in-out;color:#fff;font-size:14px;text-transform:capitalize;position:relative;border-radius:5px;font-weight:500}
.SideNavBar ul li a span{font-size:15px;display:inline-block;position:absolute;top:15px;left:22px;width:20px;filter:brightness(0) invert(1);opacity:.7}
.SideNavBar ul li.active a span,
.SideNavBar ul li a:hover{opacity:1}
.SideNavBar ul li.active a,
.SideNavBar ul li a:hover{background-color:#2c3344;color:#fff}

.Header{box-shadow:0 2px 4px rgba(0,0,0,.08);-webkit-box-shadow:0 2px 4px rgba(0,0,0,.08);position:fixed;left:0;top:0;background-color:#fff;z-index:99;transition:all 0.2s ease;margin-left:250px;width:calc(100% - 250px);text-align:right;height:60px;padding:0 25px}
.Header .HeaderToggle{float:left;padding:15px 0;display:none}
.Header .HeaderToggle a{display:inline-block;width:30px;color:#000}
.Header .Navigation{transition:all 0.2s ease;text-align:right;height:60px}
.Header .Navigation .Avater{margin:0 0 0 30px;position:relative;display:inline-block}
.Header .Navigation .Avater a{display:flex;align-items:center;font-size:14px;color:#000;padding:13px 0}
.Header .Navigation .Avater a figure{width:35px;border-radius:50%;margin:0 15px 0 0;overflow:hidden;height:35px}
.Header .Navigation .Avater ul{position:absolute;background:#fff;box-shadow:0 3px 11px 0 rgb(0 0 0 / 10%);-webkit-transform:perspective(600px) rotateX(-90deg);transform:perspective(600px) rotateX(-90deg);-webkit-transform-origin:0 0 0;transform-origin:0 0 0;right:0;opacity:0;visibility:hidden;-webkit-transition:0.5s;transition:0.5s;z-index:99;top:100%;text-align:left;min-width:200px;display:block;width:auto}
.Header .Navigation .Avater ul li{margin:0;border-bottom:1px solid #d2d3d4}
.Header .Navigation .Avater ul li:first-child{background-image:linear-gradient(45deg,#0f172a,#2c3344);position:relative;padding:15px 10px 15px 60px;text-align:left;border-bottom:1px solid #fff}
.Header .Navigation .Avater ul li figure{width:35px;height:35px;border-radius:50%;position:absolute;top:15px;left:15px;border:2px solid #fff;overflow:hidden}
.Header .Navigation .Avater ul li h4{color:#fff;font-size:17px;line-height:18px}
.Header .Navigation .Avater ul li h4 span{font-size:11px;font-weight:400}
.Header .Navigation .Avater ul li a{color:#4e4e4e;padding:10px 20px;font-weight:400;transition:0.5s all ease-in-out}
.Header .Navigation .Avater ul li a span{margin:0 10px 0 0;display:block}
.Header .Navigation .Avater ul li a:hover{background:#2c3344;color:#fff}
.Header .Navigation .Avater:hover ul{opacity:1;visibility:visible;transform:perspective(600px) rotateX(0deg)}

.WrapperArea{margin:60px 0 0 250px;flex:1 1 auto;width:calc(100% - 250px);display:flex;flex-direction:column;transition:0.5s all ease-in-out}
.WrapperArea .WrapperBox{padding:25px;background-color:#f1f5f9;min-height: calc(100vh - 60px);}
.Small-Wrapper{background-color:#fff;padding:25px;border:1px solid #dcdcdc}
.Small-Wrapper+.Small-Wrapper{ margin-top: 20px; }

.TitleBox{display: flex; align-items: center; justify-content: space-between; margin: 0 0 20px 0;}
.TitleBox h4{margin: 0;font-weight: 600;color: #000;text-transform: capitalize;font-size: 22px;font-family: 'Roboto';}
.TitleBox h5{ margin: 0; font-weight: 600; color: #000; text-transform: capitalize; font-size: 16px; font-family: 'Roboto';}
.TitleBox h5 .switch{ margin-left: 10px; }
.TitleBox .Edit{font-size: 20px; color: #2c3344; line-height: 20px;}
.TitleBox .TitleLink{ background: #f2cf00; color: #000; font-size: 15px; padding: 9px 20px; border-radius: 5px; font-weight: 700; margin: -5px 0 0 0;}
.TitleBox .TitleLink:hover{ background-color: #0f172a; color: #fff; }

.CommonTabs .nav-tabs{border:none;margin:0 0 25px 0}
.CommonTabs .nav-tabs li{margin:0 15px 0 0}
.CommonTabs .nav-tabs li a{background-color: #d7d7d7;padding: 12px 35px;border:none!important;color:#000;font-weight: 600;cursor:pointer;text-transform:capitalize;margin:0;font-size:14px;display:block;border-radius: 50px;}
.CommonTabs .nav-tabs li a.active{background-color: #2c3344;color:#fff}
    
.TableList{overflow: auto;background-color: #fff;} 
.TableList table{border:1px solid #dcdcdc}
.TableList table tr:nth-child(odd){background-color:#f5f2f2}
.TableList table tr:hover{background:#c7c7c7}
.TableList table tr th{background-color:#dcdcdc;font-weight: 700;text-transform:capitalize;color:#000;font-size:14px;padding:10px 10px}
.TableList table tr td{font-weight: 600;color:#404040;padding:10px 10px}
.TableList table tr td strong{ font-weight: 700; color: #000; }
.TableList table tr td smap{display: block;text-align: right;}   
.TableList table tr td smap a{ color: #247bd5 !important; font-weight: 700; font-size: 13px; }
.TableList table tr td select{ border: 1px solid #ddd; padding: 5px 10px; border-radius: 5px; color: #000; font-size: 14px; font-weight: 700;}
.TableList table tr th:last-child,
.TableList table tr td:last-child{text-align:center;min-width:105px}
.TableList table tr td:last-child a{margin: 0 2px;font-size:14px;display:inline-block}
.TableList table tr td span{padding:4px 10px;color:#fff;border-radius:5px;width:auto;display:block;text-align:center;font-size:12px}
.TableList table tr td .Actions{display: flex;align-items: center;justify-content: center;}

.TableList table tr td a.Green{ color: #37a713; }
.TableList table tr td a.Red{ color: #e21818; }
.TableList table tr td a.Blue{ color: #139bbf; }
.TableList table tr td a.Yellow{ color: #feca05; }
.TableList table tr td a.Pink{color: #fd546d;}

.TableList table tr td span.Green{ background-color: #37a713; }
.TableList table tr td span.Blue{ background-color: #139bbf; }
.TableList table tr td span.Red{ background-color: #bb0f0f; }
.TableList table tr td span.Orange{background-color: #df9919; }

.BookingDetails article{display:flex;justify-content:space-between;margin:0 0 15px 0}
.BookingDetails article aside{padding:0 0 0 0;min-width:290px}
.BookingDetails article aside h4{font-size:20px;font-weight:700;color:#000;margin:0 0 12px 0}
.BookingDetails article aside h4 .Green{color:#37a908}
.BookingDetails article aside p{font-size:14px;font-weight:500;color:#444;line-height:25px;margin:0 0 10px 0}
.BookingDetails article aside p span{font-weight:700;color:#000;display:inline-block;width:200px;position:relative}
.BookingDetails article aside p span:after{content:':';position:absolute;right:10px}
 
.CommentBox{background-color:#f5f5f5;padding:25px;border:1px solid #eaeaea;border-radius:7px}
.CommentBox h2{margin: 0 0 20px;font-weight:600;color:#2a2a2a;font-size: 24px;letter-spacing:.5px;font-family: 'Roboto';}
.CommentBox ul li{position:relative;padding:0 0 0 110px;margin:0 0 35px}
 .CommentBox ul li figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 90px;
    margin: 0;
}.CommentBox ul li .Accept{ float: right; }
.CommentBox ul li h4,
.CommentBox ul li ol li h4{margin:0 0 7px;font-weight:600;color:#3a3a3a;font-size: 18px;letter-spacing:0;font-family: 'Roboto';}
.CommentBox ul li h5{ color: #dabc06; font-size: 14px; margin: 0 0 6px 0; }
.CommentBox ul li h5 i{ margin: 0 3px 0 0; }
.CommentBox ul li p,
.CommentBox ul li ol li p{font-size: 14px;line-height: 24px;margin:0 0 10px;color:#5d5b5b;font-weight: 600;}
.CommentBox ul li h6,
.CommentBox ul li ol li h6{margin:0 0 0;color:#182a67;font-size: 15px;}
.CommentBox ul li ol{margin:40px 0 0 0}
.CommentBox ul li ol li{padding:0 0 0 90px;margin:0}
.CommentBox ul li ol li+li{margin:40px 0 0 0}
.CommentBox ul li ol li+li:before{content:'';position:absolute;width:2px;height:30px;background-color:#676262;left:45px;top:-37px}
.CommentBox ul li ol li figure{width:75px;height:75px}  

.GaragesForm .form-group h6{ font-size: 18px; font-weight: 700; color: #000; line-height: 31px;}
.GaragesForm .form-group label{ display: block; font-size: 15px; font-weight: 600; color: #000; margin: 0 0 10px 0;}
.GaragesForm .form-group .form-control{ height: auto; padding: 10px 15px; font-size: 15px; font-weight: 500; color: #000; box-shadow: none; outline: 0; border: 1px solid #b2b2b2;}
.GaragesForm .form-group ul { display: flex; flex-wrap: wrap;}
.GaragesForm .form-group ul li{ width: 20%; display: inline-block; margin: 0 0 20px 0;}
.GaragesForm .form-group ul li label{ margin: 0;}

.PannelOne{cursor: pointer;background-color: #e9e9e9;border-radius: 0;padding: 15px 15px 15px 18px;position: relative;display: flex;align-items: center;justify-content: space-between;margin-bottom: 20px;}
.PannelOne h4{font-weight: 500;font-size: 17px;color: #000;}
.PannelOne span{width: 30px;display: inline-block;}

.PannelTwo{margin-top: 20px;}
.PannelTwo a{cursor: pointer;background-color: #e9e9e9;border-radius: 0;padding: 15px 15px 15px 20px;position: relative;display: block;color: #000;font-weight: 500;font-size: 17px;}
.PannelTwo a span{width: 30px;display: inline-block;}

.StaticBoxArea .panel-group{margin:0;}
.StaticBoxArea .panel-group .panel{border: 1px solid #e9e9e9;border-radius:0;}
.StaticBoxArea .panel-group .panel+.panel{margin: 20px 0 0 0;}
.StaticBoxArea .panel-group .panel .panel-heading{cursor:pointer;background-color: #e9e9e9;border-radius:0;padding: 15px 55px 15px 20px;position:relative;display:flex;align-items:center;justify-content:space-between;}
.StaticBoxArea .panel-group .panel .panel-heading:after{content:'\f107';font-family:FontAwesome;color:#000;position:absolute;top:18px;right:20px;font-size:19px;font-weight:600;line-height:14px;transition:0.5s all ease-in-out}
.StaticBoxArea .panel-group .panel .panel-heading[aria-expanded="true"]:after{transform:rotate(180deg)}
.StaticBoxArea .panel-group .panel .panel-heading h4{font-size: 17px;color:#000;}
.StaticBoxArea .panel-group .panel .panel-heading h4 span{ width: 27px; display: inline-block;}
.StaticBoxArea .panel-group .panel .panel-heading a{color:#000;font-size:14px}
.StaticBoxArea .panel-group .panel .panel-body{ padding: 15px; }
.StaticBoxArea .panel-group .panel .panel-body:before{content:none}
.StaticBoxArea .panel-group .panel .panel-body p{font-size:15px;line-height:28px;font-weight:400;color: #404040;}
.StaticBoxArea .panel-group .panel .panel-body p+p{margin-top:15px}

.ProfileBox .ProfileHead{display:flex;align-items:center;margin:0 0 25px 0}
.ProfileBox .ProfileHead figure{margin:0 20px 0 0;width:125px;height:125px;border-radius:50%;overflow:hidden}
.ProfileBox .ProfileHead figure img{width:100%;height:100%}
.ProfileBox .ProfileHead .Edit{font-weight:600;text-decoration:underline;font-size:16px;cursor:pointer}
.ProfileBox .form-group{margin:0 0 25px 0}
.ProfileBox .form-group label{margin:0 0 10px 0;font-size:14px;font-weight:600}
.ProfileBox .form-group .form-control{height:auto;padding:14px 20px;font-size:16px;font-weight:500;box-shadow:none;outline:0;border:2px solid #ddd;border-radius:6px;color:#666}

.CommonForm .form-group{margin:0 0 20px 0}
.CommonForm .form-group .form-group{margin:0 0 0 0}
.CommonForm .form-group label{display:block;color:#000;font-weight:600;font-size:16px;text-transform:capitalize}
.CommonForm .form-group .form-control{height:auto;padding:10px 10px 10px 15px;border:1px solid #b3b3b3;border-radius:5px;box-shadow:none;font-weight:400;font-size:14px}


.Mechanic{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #dcdcdc;
    margin: 0 0 20px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Mechanic .MechanicLeft{}

.Mechanic .MechanicLeft p{
    font-weight: 800;
    color: #000;
    font-size: 15px;
}

.Mechanic .MechanicLeft select{
    border: none;
    color: #12910a;
    font-size: 16px;
    font-weight: 700;
}

.Mechanic .MechanicRight{
    display: flex;
    align-items: center;
}

.Mechanic .MechanicRight span{
    width: 30px;
    height: 30px;
    background: #0f172a;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.Mechanic .MechanicRight p{
    font-weight: 800;
    color: #000;
    margin: 0 30px;
}

.ScheduleBox{
    display: flex;
}

.ScheduleBox aside{
    width: 10%;
    border-right: 1px solid #ddd;
    padding: 0 10px 0 0;
}

.ScheduleBox aside h4{
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 800;
}

.ScheduleBox aside ul{}

.ScheduleBox aside ul li{
    min-height: 70px;
}

.ScheduleBox aside ul li label{
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

.ScheduleBox article{
    width: calc(100% - 10%);
    display: flex;
    flex-wrap: wrap;
}

.ScheduleBox article aside{
    width: 20%;
    padding: 0 10px;
}

.ScheduleBox article aside ul li{min-height: 70px;}

.ScheduleBox article aside ul li span{
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin: 0 0 5px 0;
}

.ScheduleBox article aside ul li a{
    font-size: 14px;
    line-height: 18px;
    color: #000;
}




.GaragesBox{background-color:#fff;padding:15px;border-radius:10px;box-shadow:0 0 8px #b9b9b9}
.GaragesBox+.GaragesBox{margin-top:20px}
.GaragesBox .GaragesHead{display:flex;margin:0 0 15px 0}
.GaragesBox .GaragesHead figure{width:275px;margin:0;border-radius:5px;overflow:hidden}
.GaragesBox .GaragesHead figure .Rates{position:absolute;top:10px;left:10px;background-color:#2c3344;padding:8px 10px;border-radius:5px;color:#fff;font-size:13px;font-weight:500;line-height:10px}
.GaragesBox .GaragesHead figure .Rates i{margin:0 0 0 5px}
.GaragesBox .GaragesHead figcaption{width:calc(100% - 275px);padding:0 0 0 15px}
.GaragesBox .GaragesHead figcaption h4{font-size:20px;font-weight:700;color:#000;margin:0 0 7px 0}
.GaragesBox .GaragesHead figcaption h4 a{ color: #000; }
.GaragesBox .GaragesHead figcaption h4 span{float:right;font-size:14px;padding:3px 0}
.GaragesBox .GaragesHead figcaption h5{margin:0;font-size:18px;font-weight:600;color:#000;margin-right: 32px;}
.GaragesBox .GaragesHead article{display:flex;justify-content:space-between;margin:10px 0 0 0}
.GaragesBox .GaragesHead article aside h6{font-size:17px;font-weight:600;color:#000;margin:0 0 5px 0}
.GaragesBox .GaragesHead article aside p{font-size:14px;font-weight:500;color:#444;line-height:25px}
.GaragesBox .GaragesMiddle{display:flex;justify-content:space-between;margin:0 0 15px 0}
.GaragesBox .GaragesMiddle aside p{font-size:15px;font-weight:700;color:#000}
.GaragesBox .GaragesMiddle aside p span{color:#3766d1}
 



.QuoteBox{}

.QuoteBox h3{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin: 0 0 7px 0;
}

.QuoteBox h3 span{
    float: right;
    font-size: 14px;
    padding: 3px 0;
}

.QuoteBox .QuotePart{
    background: #f1f5f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
} 

.QuoteBox .QuotePart h4{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0 0 10px 0;
}

.QuoteBox .QuotePart h5{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin: 0 0 10px 0;
}

.QuoteBox .QuotePart ul{
    display: flex;
    flex-wrap: wrap;
}

.QuoteBox .QuotePart ul li{
    width: 32%;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px 10px 10px 40px;
    position: relative;
    margin: 0 19px 0 0;
}

.QuoteBox .QuotePart ul li:nth-child(3n){
    margin-right: 0;
}

.QuoteBox .QuotePart ul li h6{
    float: right;
    font-size: 18px;
    font-weight: 800;
    color: #0baf2e;
}

.QuoteBox .QuotePart ul li p{
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 25px;
}

.QuoteBox .QuotePart ul li p span{
    font-weight: 700;
    color: #000;
}

.QuoteBox .QuotePart ul li .Radio{
    position: absolute;
    top: 17px;
    left: 10px;
}

.QuoteBox .QuotePart article{
    display: flex;
    margin: 20px 0 0 0;
}

.QuoteBox .QuotePart article p{
    font-size: 15px;
    font-weight: 700;
    color: #000;
    min-width: 130px;
    margin: 0 40px 0 0;
}

.QuoteBox .QuotePart article .Radio{
    font-size: 15px;
    font-weight: 700;
    color: #000;
    min-width: 130px;
    margin: 0 40px 0 0;
}

.QuoteBox .QuotePart article .Radio .checkmark{ top: 2px; }


.QuoteBox .Cost{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.QuoteBox .Cost p{
    font-size: 20px;
    font-weight: 800;
    color: #000;
}






.DealerDetails{}

.DealerDetails .DealerSlider{
    position: relative;
    margin: 0 0 15px 0;
}

.DealerDetails .DealerSlider .Rates{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #2c3344;
    padding: 8px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 10px;
}

.DealerDetails .GaragesBox{
    padding: 0;
    box-shadow: none;
    margin: 0;
}

.DealerDetails .GaragesBox .GaragesHead figcaption{
    width: 100%;
    padding: 0;
}

.DealerDetails .GaragesBox .QuoteBox{
    background: transparent;
    padding: 0;
}

.DealerDetails .GaragesBox .QuoteBox figcaption{
    margin: 0;
    text-align: left;
}


.DealerDetails .GaragesBox .QuoteBox figcaption a{ margin: 0 5px 0 0; }



.DealerDetails .PartBox{margin: 0;}

.DealerDetails .PartBox h3{
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 0 0 10px 0;
}

.DealerDetails .PartBox h4{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0 0 15px 0;
}

.DealerDetails .PartBox h4 span{
    color: #3766d1;
}

.DealerDetails .PartBox ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 0 20px;
}

.DealerDetails .PartBox ul li{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    line-height: 21px;
    width: 25%;
    margin: 0 0 15px 0;
    list-style: disc;
}


.DealerDetails .PartBox ul li:nth-last-child(-n+4) {
    margin: 0;
}



.DealerDetails .PaymentBox{}

.DealerDetails .PaymentBox h4{
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 0 0 15px 0;
}

.DealerDetails .PaymentBox ul{
    display: flex;
    flex-wrap: wrap;
}

.DealerDetails .PaymentBox ul li{
    width: 33.33%;
    padding: 0 15px 0 0;
}

.DealerDetails .PaymentBox ul li a{
    background-color: #f5f5f5;
    padding: 15px 15px;
    border: 1px solid #eaeaea;
    border-radius: 7px;
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.DealerDetails .PaymentBox ul li a i{}






.CommentBox{background-color:#f5f5f5;padding:25px;border:1px solid #eaeaea;border-radius:7px}
.CommentBox h2{margin: 0 0 20px;font-weight:600;color:#2a2a2a;font-size: 24px;letter-spacing:.5px;font-family: 'Roboto';}
.CommentBox ul li{position:relative;padding:0 0 0 110px;margin:0 0 35px}
.DealerDetails .CommentBox ul li figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 90px;
    margin: 0;
}.CommentBox ul li h4,
.CommentBox ul li ol li h4{margin:0 0 7px;font-weight:600;color:#3a3a3a;font-size: 18px;letter-spacing:0;font-family: 'Roboto';}
.CommentBox ul li h5{ color: #dabc06; font-size: 14px; margin: 0 0 6px 0; }
.CommentBox ul li h5 i{ margin: 0 3px 0 0; }
.CommentBox ul li p,
.CommentBox ul li ol li p{font-size: 14px;line-height: 24px;margin:0 0 10px;color:#5d5b5b;font-weight: 600;}
.CommentBox ul li h6,
.CommentBox ul li ol li h6{margin:0 0 0;color:#182a67;font-size: 15px;}


.CommentBox ul li h6 span{}
.CommentBox ul li h6 a{
    color: #182a67;
    font-size: 15px;
    margin: 0 0 0 30px;
    font-weight: 700;
    text-decoration: underline;
    font-style: italic;
}

.CommentBox ul li ol{margin:40px 0 0 0}
.CommentBox ul li ol li{padding:0 0 0 90px;margin:0}
.CommentBox ul li ol li+li{margin:40px 0 0 0}
.CommentBox ul li ol li+li:before{content:'';position:absolute;width:2px;height:30px;background-color:#676262;left:45px;top:-37px}
.CommentBox ul li ol li figure{width:75px;height:75px}

.EditNext {
    margin: 30px 5px;
}

.EditNext a.Edit {

    font-size: 16px;
    font-weight: 500;
    height: 45px;
    transition: 0.5s all ease-in-out;
    margin-right: 20px;
    
    color: #2c3344;
    padding: 10px;
border-radius: 6px;border: 1px solid #2c3344;
}
.EditNext a.Edit i{
    margin-left: 10px;
}




























.ModalBox .modal-dialog{border:none;max-width:600px}
.modal-dialog { max-width: 450px; margin: 50px auto;}
.Close{position:absolute;top:-13px;right:-13px;width:26px;height:26px;background-color:#fff;border:2px solid rgba(0,0,0,.5);text-align:center;color:#000;font-size:15px;border-radius:50%}

.ServiceBox{padding:30px 25px 15px} 
.ServiceBox h4{text-align:center;font-size:23px;font-weight:700;color: #308ed1;margin:0 0 20px 0;line-height:35px}
.ServiceBox p{font-size:15px;color:#000;line-height:25px;margin:0 0 15px 0}
.ServiceBox p span{font-weight:700;color:#000;display:inline-block;width:200px;position:relative}
.ServiceBox p span:before{content:':';position:absolute;right:10px}

.Category{padding:10px 10px} 
.Category h3{text-align:center;font-weight: 700;margin: 0 0 15px 0;border-bottom:1px solid #ddd;padding: 0 0 10px;font-size: 20px;color: #000;}
.Category .form-group{margin:0 0 20px;position:relative}
.Category .form-group label{display:block;font-weight:500;color:#000;font-size:15px;font-family:"Roboto"}
.Category .form-group .form-control{box-shadow:none;border:1px solid #c3c3c3;height:40px;font-size:14px;color:#000;line-height:22px}
.Category .form-group textarea.form-control{height:auto}
.Category .form-group h4{display:block;font-weight:500;color:#000;font-size:17px;font-family:"Roboto";margin:0 0 10px 0}
.Category .form-group .SlotBox{background-color:#ededed;padding:15px;border-radius:5px}
.Category .form-group .SlotBox+.SlotBox{margin-top:15px}
.Category .form-group .SlotBox aside{display:flex;justify-content:space-between}
.Category .form-group .SlotBox aside input{width:48%}
.Category .form-group ul.Parts li{display:inline-block;margin:0 10px 10px 0}
.Category .form-group ul.Parts li span{background:#ddd;font-size:15px;display:block;color:#000;font-weight:700;padding:10px 30px;border-radius:5px}
.Category .form-group ul.Parts li a{color:#000;font-weight:700;color:#000;font-size:16px}

.CongratulationsBox{padding:30px 25px 15px}
.CongratulationsBox figure{text-align:center;margin:0 0 20px 0}
.CongratulationsBox figure img{max-width:100px}
.CongratulationsBox h4{text-align:center;font-size:23px;font-weight:700;color:#01a601;margin:0 0 20px 0;line-height:35px}
.CongratulationsBox p{font-size:15px;color:#000;line-height:25px;margin:0 0 15px 0}
.CongratulationsBox p span{font-weight:700;color:#000;display:inline-block;width:200px;position:relative}
.CongratulationsBox p span:before{content:':';position:absolute;right:10px}
 
.QuoteDetailsBox{ background: #f4faff; padding: 15px; border-radius: 10px; border: 1px solid #d3e3f1; margin-bottom: 20px;} 
.QuoteDetailsBox h4{ font-size: 18px;  font-weight: 700; color: #000; margin: 0 0 15px 0;}
.QuoteDetailsBox h4 span{ float: right;  font-size: 13px;}
.QuoteDetailsBox p{font-size:15px;color:#000;line-height:25px;margin:0 0 15px 0}
.QuoteDetailsBox p span{font-weight:700;color:#000;display:inline-block;width:200px;position:relative}
.QuoteDetailsBox p span:before{content:':';position:absolute;right:10px}

.Okay{border:none;padding:10px 25px;text-align:center;transition:0.5s all ease-in-out;font-weight:500;display:inline-block;position:relative;font-size:16px;color:#fff;text-transform:capitalize;border-radius:5px;box-shadow:none;font-family:'Roboto';background-color:#308ed1;margin:20px 0 10px 0}
.Okay:hover{background-color: #2880bf;color: #fff;}

.Accept{border:none;padding: 10px 15px;text-align:center;transition:0.5s all ease-in-out;font-weight:500;display:inline-block;position:relative;font-size:15px;color:#fff;text-transform:capitalize;letter-spacing: 0;border-radius:5px;outline:0!important;box-shadow:none;font-family:'Roboto';background-color: #1fa831 !important;}
.Accept:hover{background-color: #0bb221 !important;color: #fff !important;}

.Decline{border:none;padding: 10px 15px;text-align:center;transition:0.5s all ease-in-out;font-weight:500;display:inline-block;position:relative;font-size:15px;color:#fff;text-transform:capitalize;letter-spacing: 0;border-radius:5px;outline:0!important;box-shadow:none;font-family:'Roboto';background-color:#d93714}
.Decline:hover{background-color: #c92d0b !important;color: #fff !important;}